<div class="container">
  <div class="signup-card">
    <form #signupForm="ngForm">
      <h2 class="heading">Sign Up</h2>

      <label for="email" class="label">Email</label>
      <input
        type="email"
        name="email"
        class="form-input"
        [(ngModel)]="email"
        maxlength="60"
        placeholder="Please enter your email"
        required
      />
      <label for="password" class="label">Password</label>
      <input
        type="password"
        name="password"
        class="form-input"
        [(ngModel)]="password"
        placeholder="Choose a password"
        required
      />

      <label for="username" class="label">
        Username (3-12 characters, unique)
      </label>
      <input
        type="text"
        name="username"
        class="form-input"
        [(ngModel)]="username"
        placeholder="Please choose a display name"
        maxlength="12"
        required
      />

      <button
        [disabled]="!signupForm.form.valid"
        type="submit"
        (click)="validate()"
        class="btn btn-signup"
      >
        Sign Up!
      </button>
      <br />
    </form>
  </div>
  <div class="errors">
    {{ errorMessage }}
  </div>
  <div class="footer">
    <div class="link-patch-notes" routerLink="/patch_notes">
      What's new?
    </div>
  </div>
</div>
