<div class="container">
  <div class="login-card">
    <h2 class="heading">Log In</h2>
    <form #loginForm="ngForm" class="login-form">
      <!-- use the keyup.enter instead of keydown -->
      <input
        [(ngModel)]="email"
        type="email"
        placeholder="Username"
        name="email"
        class="form-input"
        (keydown)="handleSubmit($event)"
        required
      />
      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="password"
        name="password"
        class="form-input"
        (keydown)="handleSubmit($event)"
        required
      />
      <button
        type="submit"
        (click)="validate()"
        class="btn btn-login"
        [disabled]="!loginForm.form.valid"
      >
        Login!
      </button>
    </form>
    <br />
    <hr />
    <br />
  </div>
  <div class="errors">
    {{ errorMessage }}
  </div>
</div>
