.grid-container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 25vh 25vw;
  //   zoom: 1; use transform scale dynamically to zoom
  // width: 100%;
  // height: 100%;
  box-sizing: content-box;
  z-index: 0;
}

#grid {
  z-index: 0;
}

.gridbox-draw {
  display: inline-flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}
